#action-bar {
	position: fixed;
	bottom: calc(var(--dis-6) * -1);
	left: 0;
	width: 100%;
	height: calc(var(--dis-6) * 2);
	background: transparent;
}

#action-bar:hover {
	bottom: 0;
}

#action-content {
	height: var(--dis-6);
	background: var(--color-base);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--dis-6);
	padding: var(--dis-xs);
	gap: var(--dis-xs);
}

.action-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--dis-4);
	width: var(--dis-4);
	border-radius: 50%;
	cursor: pointer;
}

.action-group .action-item.active,
.action-group .action-item:hover,
.action-group .action-item:active {
	background: var(--color-base);
	color: var(--text-accent);
}

.action-item img,
.action-item svg {
	width: 70%;
	height: 70%;
	object-fit: contain;
}

.action-item .ui-icon {
	width: 70%;
	height: 70%;
}

.action-group {
	display: flex;
	background: var(--color-off);
	gap: var(--dis-xs);
	border-radius: var(--radius-full);
	height: var(--dis-4);
}
