*, *::before, *::after {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    position: relative;
    font-family: Arial, sans-serif;
}
#wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}