#searchbar {
	position: absolute;
	display: flex;
	align-items: center;
	gap: var(--dis-xs);
	height: var(--dis-6);
	min-width: calc(40rem * var(--ui-scale));
	padding: var(--dis-xs);
	border-radius: var(--radius-full);
	background: var(--color-base);
	width: 30vw;
}

.engine-current {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--dis-4);
	width: var(--dis-4);
	aspect-ratio: 1/1;
	padding: 0;
	border-radius: var(--radius-full);
	background: var(--color-off);
	color: var(--text-accent);
	cursor: pointer;
}

.engine-current .engine-current-icon {
	width: var(--dis-2);
	height: var(--dis-2);
}

.search-engine-chips {
	position: absolute;
	left: 50%;
	top: calc(100% + var(--dis-1));
	transform: translateX(-50%);
	display: none;
	gap: var(--dis-xs);
	padding: var(--dis-xs);
	align-items: center;
	justify-content: center;
}

.searchbar-wrapper.chips-open .search-engine-chips {
	display: flex;
}

.search-engine-chip {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--dis-4);
	width: var(--dis-4);
	aspect-ratio: 1/1;
	padding: 0;
	border-radius: var(--radius-full);
	background: var(--color-base);
	cursor: pointer;
	color: var(--text-accent);
}

.search-engine-chip .engine-chip-icon {
	width: var(--dis-2);
	height: var(--dis-2);
}

.search-engine-chip.active {
	background: var(--color-off);
}

.search-input {
	flex: 1;
	display: flex;
	align-items: center;
	height: var(--dis-4);
	padding: var(--dis-xs) var(--dis-2);
	border-radius: var(--radius-full);
	background: var(--color-off);
	color: var(--text-base);
	font-size: calc(1rem * var(--ui-scale));
	font-family: var(--font-family);
}

.search-input::placeholder {
	color: var(--text-off);
}

#search-voice-btn,
#search-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--dis-4);
	border-radius: var(--radius-full);
	cursor: pointer;
}

#search-voice-btn {
	background: var(--color-off);
	color: var(--text-accent);
	width: var(--dis-4);
	aspect-ratio: 1/1;
	padding: 0;
}

#search-voice-btn .search-voice-icon {
	width: 60%;
	height: 60%;
}

#search-voice-btn.listening {
	background: var(--color-accent);
	color: var(--text-invert);
}

#search-btn {
	background: var(--color-accent);
	color: var(--text-invert);
	padding: 0 var(--dis-2);
	border-radius: var(--radius-full);
	font-weight: 500;
	font-size: calc(0.95rem * var(--ui-scale));
}

.searchbar-hidden {
	display: none !important;
}
