*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #0072ff;
    --white: #ffffff;
    --off-white: #eff6ff;
    --gray: #131920;
    --font-primary: 'Inter', sans-serif;
    --font-content: 'Comfortaa', cursive;
}

::-webkit-scrollbar {
width: 1vw;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

body{
    background-color: var(--white);
}

a, a:link, a:visited {
    text-decoration: none;
    color: none;
    font-family: var(--font-primary);
}

a.button{
    background-color: var(--color-primary);
    color: var(--white);
    font-family: var(--font-primary);
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--white);
    font-weight: 700;
}

a.button:hover{
    background-color: var(--off-white);
    border: 0.15vw var(--color-primary) solid;
    color: var(--color-primary);
}

a.button:hover .fa-solid{
    color: var(--color-primary);
}


#loading {
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--off-white);
    width: 100%;
    height: 100%;
}

.loading{
    width: 56vw;
    max-width: 30vh;
    display: block;
    margin: auto;
}

header a{
    color: var(--gray);
    cursor: pointer;
    align-items: center;
}

#hamberger{
    display: none;
}

.mobmenu{
    display: none;
}

.brand{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.menu .opt-card a:hover{
    color: var(--color-primary);
}

#exclusive{
    background: rgb(0,114,255);
    background: linear-gradient(90deg, rgba(0,114,255,1) 0%, rgba(0,212,255,1) 100%);
    color: var(--white);
}

#exclusive hr{
    background-color: var(--white);
}

#exclusive a{
    color: var(--white);
}

.menu .opt-card:hover{
    box-shadow: 0px 0px 8px -4px rgb(0, 114, 255);
}

footer a{
    color: var(--off-white);
}

.social .fa-brands ,.social .fa-solid{
    color: var(--off-white);
}

.social .fa-brands:hover , .social .fa-solid:hover{
    color: var(--white);
}

.info .mail:hover{
    color: var(--color-primary);
}

.error404{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.error404 lottie-player{
    width: 50%;
    margin-top: 10vw;
}

/* Mobile View */
@media only screen and (min-width: 260px) and (max-width: 599px) {
    header{
        height: calc(100vw / 6);
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        /* box-sizing: content-box; */
        /* padding: 0 calc((100vw - 1600px)/ 2); */
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        background-color: var(--off-white);
        color: var(--gray);
    }

    #hamberger{
        display: flex;
        width: calc(100vw / 6);
        height: calc(100vw / 6);
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 25;
        font-size: 8vw;
        color: var(--gray);
    }

    .mobmenu{
        display: none;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: calc(100vw / 6);
        z-index: 25;
        width: 100vw;
        height: calc(100vh - calc(100vw / 6));
        font-family: var(--font-primary);
}

    .mobmenu ul{
        background-color: rgb(239, 246, 255, 0.85);
        width: 70vw;
        padding-top: 8vw;
        height: calc(100vh - calc(100vw / 6));
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }

    #mobMenuIco{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16vw;
        height: 16vw;
        
    }

    .mobmenu li a .fa-solid{
        color: var(--gray);
        width: 10vw;
        height: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        border-radius: 2vw;
        -webkit-border-radius: 2vw;
        -moz-border-radius: 2vw;
        -ms-border-radius: 2vw;
        -o-border-radius: 2vw;
    }

    .mobmenu li a{
        display: flex;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        width: 60vw;
        font-size: 5vw;
        line-height: 12vw;
        color: var(--gray);
    }

    li#shareMob{
        justify-content: flex-start;
        display: flex;
        width: 60vw;
    }

    li#shareMob .fa-solid{
        width: 6vw;
    }

    li#shareMob a{
        width: 40vw;
        height: 12vw;
        border-radius: 3vw;
        margin: 6vw 4vw;
        -webkit-border-radius: 3vw;
        -moz-border-radius: 3vw;
        -ms-border-radius: 3vw;
        -o-border-radius: 3vw;
}

    li#shareMob a , li#shareMob .fa-solid{
        font-size: 4vw;
        color: var(--off-white);
    }

    li#shareMob a:hover , li#shareMob:hover .fa-solid{
        color: var(--color-primary);
    }

    .brand{
        font-size: 3.5vw;
    }

    .brand a{
        align-items: center;
        display: flex;
    }

    .brand img{
        height: calc((100vw / 10) + 3px);
        padding: 0 1vw 0 4vw;
    }

    a.button{
        padding: 10px 15px;
        display: none;
        margin: 20px;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .menu{
        display: none;
    }

    .menu .option{
        display: none;
    }

    .menu .option a{
        display: none;
    }

    .menu .option .opt-overlay{
        display: none;
    }

    footer{
        margin: calc(100vw / 6) 0 0 0;
        font-size: 4vw;
        font-family: var(--font-content);
    }

    footer .cta{
        width: 100vw;
        height: 15vw;
        background-color: var(--color-primary);
        color: var(--off-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .cta-text{
        display: none;
    }

    footer .social{
        display: flex;
        padding: 5vw;
        height: 10vw;
        width: 100vw;
        font-size: 4.5vw;
        justify-content: space-around;
        align-items: center;
    }

    footer .container{
        display: flex;
        padding: 4vw 0;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--gray);
        color: var(--off-white);
    }

    .info{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info .description{
        padding: 4vw 5vw;
        font-size: 4vw;
        line-height: 6vw;
        font-weight: 400;
    }

    .info .mail{
        font-size: 4.5vw;
        padding: 0 5vw;
    }

    .info .fa-regular{
        padding: 0 5px 0 0;
    }
    
    .sitemap{
        justify-content: space-evenly;
        width: 100vw;
        padding: 0 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;
    }
    
    .sitemap .col{
        width: 45vw;
        padding: 4vw 0;
        line-height: 6.5vw;
    }

    .sitemap h2{
        line-height: 8vw;
        font-size: 4.5vw;
    }
    
    .sitemap .col a{
        display: block;
        width: fit-content;
        font-size: 4vw;
        line-height: 6.5vw;
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw;
        height: 15vw;
        border-top: 0.1px solid rgb(239, 246, 255, 0.2);
        font-size: 2.5vw;
        font-family: var(--font-content);
        color: var(--off-white);
        background-color: var(--gray);
    }
    
    .row .fa-regular{
        font-size: 14px;
    }

    .error404 lottie-player{
        width: 80%;
        margin-top: 30vw;
    }
}

/* Tablet View */
@media only screen and (min-width: 600px) and (max-width: 1023px){
    header{
        height: 6vw;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        padding: 0 8vw;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        background-color: var(--off-white);
        color: var(--gray);
        font-size: 0.75vw;
    }

    .brand img{
        height: 3.2vw;
        padding: 0 0.5vw 0 0;
    }

    #hamberger{
        display: flex;
        width: 6vw;
        height: 6vw;
        align-items: center;
        justify-content: center;
        z-index: 25;
        font-size: 3vw;
        color: var(--gray);
    }

    .mobmenu{
        display: none;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        top: 6vw;
        z-index: 25;
        width: 25vw;
        height: calc(100vh - 6vw);
        font-family: var(--font-primary);
    }

    .mobmenu ul{
        background-color: rgb(239, 246, 255, 0.85);
        width: 25vw;
        padding-top: 2vw;
        height: 100%;
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }

    #mobMenuIco{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        height: 4vw;
        
    }

    .mobmenu li a .fa-solid{
        color: var(--gray);
        width: 2vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
        border-radius: 2vw;
        -webkit-border-radius: 2vw;
        -moz-border-radius: 2vw;
        -ms-border-radius: 2vw;
        -o-border-radius: 2vw;
    }

    .mobmenu li a{
        display: flex;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        width: 20vw;
        font-size: 1.8vw;
        line-height: 7.5vw;
        color: var(--gray);
    }

    li#shareMob{
        justify-content: flex-start;
        display: flex;
        width: 20vw;
    }

    li#shareMob .fa-solid{
        width: 2vw;
    }

    li#shareMob a{
        width: 16vw;
        height: 5vw;
        margin: 2vw 0 0 0;
        border-radius: 1.5vw;
        -webkit-border-radius: 1.5vw;
        -moz-border-radius: 1.5vw;
        -ms-border-radius: 1.5vw;
        -o-border-radius: 1.5vw;
}

    li#shareMob a , li#shareMob .fa-solid{
        font-size: 1.8vw;
        color: var(--off-white);
    }

    li#shareMob a:hover , li#shareMob:hover .fa-solid{
        color: var(--color-primary);
    }

    .brand a{
        align-items: center;
        display: flex;
        font-size: 1.2vw;
    }

    a.button{
        padding: 10px 15px;
        display: none;
        margin: 20px;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .menu{
        display: none;
    }

    .menu .option{
        display: none;
    }

    .menu .option a{
        display: none;
    }

    .menu .option .opt-overlay{
        display: none;
    }

    footer{
        margin: 6vw 0 0 0;
        font-size: 1.5vw;
        font-family: var(--font-content);
    }

    footer .cta{
        padding: 0px 8vw;
        width: 100vw;
        height: 6vw;
        background-color: var(--color-primary);
        color: var(--off-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .cta h2{
        height: 6vw;display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 3vw;
        font-size: 1.8vw;
        font-weight: 600;
        align-items: center;
    }

    footer .social{
        display: flex;
        padding: 1.5vw;
        height: 6vw;
        font-size: 3vw;
        width: 25vw;
        font-size: 1.8vw;
        justify-content: space-around;
        align-items: center;
    }

    footer .container{
        display: flex;
        padding: 2vw 8vw;
        font-size: 0.8vw;
        justify-content: space-between;
        background-color: var(--gray);
        color: var(--off-white);
    }

    .info{
        width: 36vw;
        /* font-size: 1.2vw; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info .description{
        padding: 4vw 0 2vw;
        font-size: 1.6vw;
        line-height: 2.4vw;
        font-weight: 400;
    }

    .info .mail{
        font-size: 1.8vw;
    }

    .info .fa-regular{
        padding: 0 0.8vw 0 0;
    }
    
    .sitemap{
        justify-content: space-evenly;
        width: 48vw;
        padding: 0 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        overflow: hidden;
    }

    .sitemap .col{
        width: 22vw;
        padding: 1vw;
        line-height: 2.8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sitemap h2{
        line-height: 2.8vw;
        font-size: 2vw;
    }
    
    .sitemap .col a{
        display: block;
        font-size: 1.6vw;
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        height: 6vw;
        border-top: 0.1px solid rgb(239, 246, 255, 0.2);
        font-size: 1vw;
        font-family: var(--font-content);
        color: var(--off-white);
        background-color: var(--gray);
    }
    
    .row .fa-regular{
        font-size: 1.5vw;
    }
}



/* Laptop View */
@media only screen and (min-width: 1024px){
    header{
        height: 4vw;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        padding: 0 8vw;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        background-color: var(--off-white);
        color: var(--gray);
        font-size: 0.75vw;
    }

    .brand img{
        height: 2.2vw;
        padding: 0 0.2vw 0 0;
    }

    a.button{
        padding: 0.6vw 1.2vw;
        border: 0.15vw var(--color-primary) solid;
        width: fit-content;
        height: fit-content;
        border-radius: 2vw;
        -webkit-border-radius: 2vw;
        -moz-border-radius: 2vw;
        -ms-border-radius: 2vw;
        -o-border-radius: 2vw;
        font-size: 0.8vw;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        z-index: 21;
        left: calc(50% - 16vw);
        width: 32vw;
        height: 4vw;
    }

    .menu .option{
        width: 6vw;
        height: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu .option a{
        color: var(--gray);
        font-family: var(--font-primary);
        font-size: 1vw;
        width: 6vw;
        height: 4vw;
        border: 3px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu .option .opt-overlay{
        display: none;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 17vw;
        z-index: 1;
        position: fixed;
        padding: 1vw;
        top: 4vw;
        left: 0px;
        background-color: var(--white);
    }

    .menu .option:hover .opt-overlay{
        display: flex;
    }

    .menu .option:hover .opt{
        border-bottom: 3px solid var(--color-primary);
        color: var(--color-primary);
    }

    .menu .opt-card{
        width: 18vw;
        height: 15vw;
        margin: 0.5vw;
        background-color: var(--off-white);
        border-radius: 0.6vw;
        -webkit-border-radius: 0.6vw;
        -moz-border-radius: 0.6vw;
        -ms-border-radius: 0.6vw;
        -o-border-radius: 0.6vw;
        font-family: var(--font-primary);
        overflow: hidden;
}

    .menu .opt-card h3{
        padding: 1vw 1.5vw 0.5vw;
        font-size: 1vw;
    }

    .menu .opt-card hr{
        width: 3vw;
        margin: 0 0 1vw 1.5vw;
        padding: 0.05vw 0;
        background-color: var(--color-primary);
    }

    .menu .opt-card a{
        padding: 0.3vw 1.5vw;
        width: 280px;
        height: fit-content;
        justify-content: flex-start;
    }


    footer{
        margin: 4vw 0 0 0;
        font-size: 0.9vw;
        font-family: var(--font-content);
    }

    footer .cta{
        padding: 0px 8vw;
        width: 100%;
        height: 4vw;
        background-color: var(--color-primary);
        color: var(--off-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    footer .cta h2{
        height: 2vw;
        padding-left: 1.5vw;
        line-height: 2.2vw;
        font-size: 1vw;
        font-weight: 600;
        align-items: center;
    }

    footer .social{
        display: flex;
        padding: 1vw;
        height: 2vw;
        width: 15vw;
        font-size: 1vw;
        justify-content: space-around;
        align-items: center;
    }

    footer .container{
        display: flex;
        padding: 1vw 8vw;
        font-size: 0.8vw;
        justify-content: space-between;
        background-color: var(--gray);
        color: var(--off-white);
    }

    .info{
        width: 32vw;
        font-size: 0.8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info .description{
        padding: 1vw 0;
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 400;
    }

    .info .mail{
        font-size: 0.9vw;
    }

    .info .fa-regular{
        padding: 0 0.3vw 0 0;
    }
    
    .sitemap{
        justify-content: space-evenly;
        width: 52vw;
        padding: 0 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        overflow: hidden;
    }
    
    .sitemap .col{
        width: 12vw;
        padding: 1vw;
        line-height: 1.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sitemap h2{
        line-height: 2vw;
        font-size: 1.1vw;
    }
    
    .sitemap .col a{
        display: block;
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        height: 3vw;
        border-top: 0.1px solid rgb(239, 246, 255, 0.2);
        font-size: 0.5vw;
        font-family: var(--font-content);
        color: var(--off-white);
        background-color: var(--gray);
    }
    
    .row .fa-regular{
        font-size: 0.7vw;
    }
}