<div id="searchbar">
    <input id="search" onkeyup="search_pages()" type="text" placeholder="Search Projects.." autocomplete="off">
    <i class="fas fa-search"></i>
    <ul>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/" target="_self">Home</a></li>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/discover/" target="_self">Discover</a></li>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/web-dev/" target="_self">Web-Dev</a></li>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/web-dev/fake-update" target="_self">Fake-Update</a></li>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/games/" target="_self">Games</a></li>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/blogs/" target="_self">Blogs</a></li>
        <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/perks/" target="_self">Perks</a></li>
        <li><a>No More Results</a></li>
    </ul>
</div>