<div id="header">
    <a tabindex="-1" target="_self" href="https://getprojects.tech/"><img src="../../images/ico.svg" alt="GetProjects"></a>
    <a tabindex="-1" target="_self" href="https://getprojects.tech/"><h1>GetProjects</h1></a>
    <div id="searchbar">
        <input id="search" onkeyup="search_pages()" type="text" placeholder="Search Projects.." autocomplete="off">
        <i class="fas fa-search"></i>
        <ul>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/" target="_self">Home</a></li>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/discover/" target="_self">Discover</a></li>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/web-dev/" target="_self">Web-Dev</a></li>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/web-dev/fake-update" target="_self">Fake-Update</a></li>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/games/" target="_self">Games</a></li>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/blogs/" target="_self">Blogs</a></li>
            <li data-aos="fade-right" tabindex="0" class="href"><a href="https://getprojects.tech/perks/" target="_self">Perks</a></li>
            <li><a>No More Results</a></li>
        </ul>
    </div>
    <a onclick="toggleMenu()"><i id="mobileMenu" class="fa-solid fa-bars"></i></a>
</div>

<div id="navmenu">
    <ul>
        <li><a href="https://getprojects.tech/"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="https://getprojects.tech/discover"><i class="fa-solid fa-earth-americas"></i>Discover</a></li>
        <li><a href="https://getprojects.tech/web-dev"><i class="fa-solid fa-code"></i>Web-Dev</a></li>
        <li><a href="https://getprojects.tech/games"><i class="fa-solid fa-gamepad"></i>Games</a></li>
        <li><a href="https://getprojects.tech/blog"><i class="fa-solid fa-pen-nib"></i>Blog</a></li>
        <li><a href="https://getprojects.tech/perks"><i class="fa-solid fa-wand-magic-sparkles"></i>Perks</a></li>
        <li><a href="https://getprojects.tech/help"><i class="fa-solid fa-circle-question"></i>Help</a></li>
        <li><a href="https://getprojects.tech/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
    </ul>
    <a onclick="share()" class="btn-primary share">Share<i class="fa-regular fa-copy"></i></a>
</div>