<div id="social">
    <div class="cta-text"><h2>Get connected with us on social networks!</h2></div>
    <div class="social">
        <a alt="GitHub" href="https://github.com/TMtechnomania" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a alt="Facebook" href="https://www.facebook.com/youtube.com.TMtechnomania" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a alt="Chrome Extension" href="https://chrome.google.com/webstore/detail/tm-launcher/ppgcdhfpgpiecpjaobadcaigbhmkpgob" target="_blank"><i class="fa-brands fa-chrome"></i></a>
        <a alt="Instagram" href="https://instagram.com/kartikeytiwari" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a alt="Developer Portfolio" href="https://getprojects.tech/portfolio" target="_blank"><i class="fa-solid fa-user"></i></a>
    </div>
</div>
<div  data-aos="fade-up" class="cta">
    <h1>Keep In Touch With Us.</h1>
    <form action="https://formspree.io/f/mlevgenr"
    method="POST" class="subscribe">
        <input type="email" name="email" autocomplete="off" placeholder="Your Email Here">
        <button type="submit" class="btn-primary">Subscribe</button>
    </form>
</div>
<div data-aos="fade-up" class="footer-menu">
    <i class="fa-regular fa-copyright"></i>&nbsp;2022 Copyright: GetProjects.tech
</div>